* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    background: linear-gradient(90deg, #b31ce0 35%, #00ffb3 100%);
  }
  
  .container {
    background-color: #ffffff;
    width: 80vw;
    max-width: 600px;
    padding: 48px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 9.94px;
    box-shadow: 0 15.63px 22.5px rgba(8, 21, 65, 0.25);
  }
  
  .search-wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 20px;
  }
  
  .search-wrapper button {
    font-size: 16px;
    background-color: #3d64e6;
    color: #ffffff;
    padding: 12px 0;
    border: none;
    border-radius: 24px;
  }
  
  .search-wrapper input {
    font-size: 16px;
    padding: 0 10px;
    border: none;
    border-bottom: 2px solid #3d64e6;
    outline: none;
    color: #222a43;
  }
  
  #result {
    margin-top: 20px;
  }
  
  .container .flag-img {
    display: block;
    width: 45%;
    min-width: 120px;
    margin: 28.8px auto 19.2px auto;
  }
  
  .container h2 {
    font-weight: 600;
    color: #222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 28.8px;
  }
  
  .data-wrapper {
    margin-bottom: 16px;
    letter-spacing: 0.3px;
  }
  
  .container h4 {
    display: inline;
    font-weight: 500;
    color: #222a43;
  }
  
  .container span {
    color: #5d6274;
  }
  
  .container h3 {
    text-align: center;
    font-size: 19.2px;
    font-weight: 400;
    color: #ff465a;
  }
